<body class="container">
    <header>
        <div id="headings">
            <h1><i class="fa fa-paint-brush"></i>undivided mind</h1>
            <nav>
                <ul>
                    <li><a href="/">login</a></li>
                    <li><a href="/register">register</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/subscribe">subscribe</a></li>

                </ul>
            </nav>
        </div>
    </header>