<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>undivided mind - error</title>
    <link rel="stylesheet" href="css/register-styles.css">
</head>

<% include partials/header-nav.ejs %>

<main>

    <h2>404 Error: The page you requested was not found.</h2>
    

</main>

<% include partials/footer.ejs %>