<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>undivided mind - thanks</title>
    <link rel="stylesheet" href="css/register-styles.css">
</head>

<% include partials/header-nav.ejs %>

    <main>
        
        <h2 id="submit-h2">Thank you for subscribing to our newsletter, <%= inputName %>!</h2>
        <p id="submit-p">Your email, <%= inputEmail %>, has been added to the mailing list.</p>

    </main>

    <% include partials/footer.ejs %>